<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/imgs/logo.jpg" class="s2" width="160" height="51px"></a>
    </div>
    <div class="collapse navbar-collapse" id="topnav">
      <ul class="nav navbar-nav">
        <li><a href="/home" id="home">홈</a></li>
        <li><a href="/company" id="company">회사소개</a></li>
        <li><a href="/bbs/main/list" id="main">부과내역서인쇄의뢰</a></li>
        <li><a href="/bbs/etc/list" id="etc">기타인쇄의뢰</a></li>
        <li><a href="/contact" id="contact">연락처</a></li>
      </ul>
      <%
        if(name){
      %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><%= name%> 님 환영합니다.   &nbsp;<span class="glyphicon glyphicon-log-out">로그아웃</span></a></li>
      </ul>
      <%
        }else{
      %>

        <form class="navbar-form navbar-right" id="loginform" method="post" action="/dologin">
          <div class="form-group">
            <input type="text" class="form-control" name="userid" placeholder="ID">
            <input type="text" class="form-control" name="password" placeholder="PASSWORD">
          </div>
          <button type="submit" class="btn btn-default">LOGIN</button>
        </form>
      <%
        }
      %>
    </div>
  </div>
</nav>


<script>

  $(document).ready(function(){
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      var hash = this.hash;
      $(".menu").hide();
      $(hash).show();

    });
  });



</script>
