<!DOCTYPE html>
<html lang="EUC-KR">
<head>
  <title>삼아인쇄기획 홈페이지</title>
  <meta charset="EUC-KR">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<%- include header.ejs %>

<div class="container-fluid text-center">
  <div class="row content">

    <div class="col-sm-12 text-left"  >
      <%- include(page)  %>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<script>


</script>

</body>
</html>
