<!DOCTYPE html>
<html lang="EUC-KR">
<head>
  <title>Bootstrap Example</title>
  <meta charset="EUC-KR">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<%- include header.ejs %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">링크1</a></p>
      <p><a href="#">링크2</a></p>
      <p><a href="#">링크3</a></p>
    </div>

    <div class="col-sm-8 text-left" id="#home">
      <h1>로그인</h1>
      <form id="loginform" action="/dologin" method="post">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="userid" type="text" class="form-control" name="userid" placeholder="아이디">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="password" placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-default">LOGIN</button>
      </form>
      <button type="button" class="btn" id="btnlogin">로그인</button>
      <button type="button" class="btn" id="btnjoin">회원가입</button>
      <button type="button" class="btn" id="btnfindpassword">비번찾기</button>
    </div>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<%- include footer.ejs %>

<script>
  $("#btnlogin").click(function(){
    $("#loginform").submit();
  });

  $("#btnjoin").click(function(){
    document.location = "/join";
  });

</script>

</body>
</html>
