

  <h1>부과내역서인쇄의뢰</h1>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>상태</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
      </tr>
    </tbody>
  </table>
</div>
